
  <ion-slides
    class="sliderBox" 
    loop="true" pager="true" [options]="slideOpts" autoplay="true"
  >
    <ion-slide>
      <img class="sliderImg" src="assets/imgs/logo.png" alt="NA" />
    </ion-slide>
    <ion-slide>
      <img class="sliderImg" src="assets/imgs/slider1.jpg" alt="NA" />
    </ion-slide>
    <ion-slide>
      <img class="sliderImg" src="assets/imgs/slider2.jpg" alt="NA" />
    </ion-slide>
    <ion-slide>
      <img class="sliderImg" src="assets/imgs/slider3.jpg" alt="NA" />
    </ion-slide>
  </ion-slides>