<ion-row class="iosBorder">
  <ion-col size="3" class="border">
      <div class="tabBox" routerLink="/folder/Home">
          <ion-icon class="tabIcon" name="home"></ion-icon>
          <div>Home</div>
      </div>
  </ion-col>
  <ion-col size="3" class="border">
      <div class="tabBox"  routerLink="/folder/Inbox">
          <ion-icon class="tabIcon" name="mail"></ion-icon>
          <div>Inbox</div>
      </div>
  </ion-col>
  <ion-col size="3" class="border">
      <div class="tabBox"  routerLink="/folder/Favorites">
          <ion-icon class="tabIcon" name="heart"></ion-icon>
          <div>Favorites</div>
      </div>
  </ion-col>

  <ion-col size="3" class="border">
      <div class="tabBox"  routerLink="/folder/Archived">
          <ion-icon class="tabIcon" name="archive"></ion-icon>
          <div>Archived</div>
      </div>
  </ion-col>
</ion-row>
